import "./style.css";

document.querySelector<HTMLDivElement>("#app")!.innerHTML = `
  <section class="card">
    <h1>{{projectName}}</h1>
    <p>Edit <code>src/main.ts</code> and run <code>tspack run dev</code>.</p>
  </section>
`;
