{
  "name": "{{packageName}}",
  "version": "0.1.0",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "tspack run dev",
    "build": "tspack run build",
    "check": "tspack check"
  }
}
